{
    "debug": false,
    "channel_debug": "channel_name",
    "monitoring": false,
    "tokens": {
        "token": "MY-TOKEN",
        "tts_token": "TTS_TOKEN"
    },
    "db": {
        "host": "",
        "dbname": "",
        "user": "",
        "password": "",
        "port": "27017"
    }
}
